<ion-header-bar class="bar-royal">
	<div class="buttons">
		<button class="button button-clear" ng-click="preferencesGoBack()">Back</button>
	</div>
	<h1 class="title">{{currClub.name}}</h1>
</ion-header-bar>
<ion-content>
	<img ng-src="{{currClub.banner}}" style="width:100%"></img>
	<div class="list">
		<div class="button-bar" style="padding-bottom:1px">
			<button class="button button-positive" ng-click="toggle(currClub.id); savePrefs('clubs', true);" ng-if="clubs[currClub.id]['selected'] == false">Subscribe!</button>
			<button class="button button-balanced" ng-click="toggle(currClub.id); savePrefs('clubs', true);" ng-if="clubs[currClub.id]['selected'] == true"><i class="icon ion-checkmark"></i> Subscribed</button>
		</div>

		<div class="item item-divider">
			Description
		</div>
		<div class="item item-text-wrap">
			{{currClub.desc}}
		</div>

		<div class="item item-divider">
			Upcoming Events
		</div>
		<div class="item-text-wrap" ng-if="currClubEventCount >= 1">
			<ion-list class="club-page-events">
				<ion-item ng-repeat="event in events" ng-click="loadEvent({{event.id}})" ng-if="event.club.slug == currClub.slug" class="itembox item-thumbnail-left"> <!-- class=club-page-events -->
					<img ng-src="{{event.thumbnail}}" class="imgbox">
					<titleFont>{{event.title}}</titleFont></br>
					<subheaderFont>{{event.subheader}}<br/>{{event.startDate}}</subheaderFont>
				</ion-item>
			</ion-list>

		</div>

		<div class="row" ng-if="currClubEventCount < 1">
			<div class="col">
				<div class="text-center">
					<h5 style="text-align: center; color: #9A9B9C;">Looks like {{currClub.name}} doesn't currently have any upcoming events :(</h5>
					<h5 style="text-align: center; color: #9A9B9C;">Check back soon, new events are added almost daily!</h5>
				</div>
			</div>
		</div>

		<div class="item item-divider">
			Connect with {{currClub.name}}
		</div>
		<div class="item item-text-wrap">
			<button class="button" style="background-color: #3b5998" ng-if="currClub.social.facebook" ng-click="openSocialLink('fb')"><i class="icon ion-social-facebook" style="color:white"></i></button>
			<button class="button" style="background-color: #007bb6" ng-if="currClub.social.linkedin" ng-click="openSocialLink('linkedin')"><i class="icon ion-social-linkedin" style="color:white"></i></button>
			<button class="button" style="background-color: #00aced" ng-if="currClub.social.twitter" ng-click="openSocialLink('twitter')"><i class="icon ion-social-twitter" style="color:white"></i></button>
			<button class="button" style="background-color: #bb0000" ng-if="currClub.social.youtube" ng-click="openSocialLink('youtube')"><i class="icon ion-social-youtube" style="color:white"></i></button>
			<button class="button" style="background-color: #eeee00" ng-if="currClub.social.snapchat" ng-click="openSocialLink('snapchat')"><i class="icon ion-social-snapchat" style="color:white"></i></button>
		</div>


	</div>
		<!--<a> 
			<div class="row"><div class="col">
				<div class="video-container">
					<iframe src="http://www.youtube.com/embed/Bis4tRacqXg?rel=0" frameborder="0" allowfullscreen></iframe>
				</div>
			</div></div>
		</a>-->

</ion-content>