<!-- Remember to update templates/initiallaunch/clubselector.html when this is changed -->
<ion-view can-swipe-back="false">
	<ion-header-bar class="bar-royal">
		<div class="buttons">
			<button class="button button-clear" ng-click="preferencesGoBack()">Back</button>
		</div>
		<h1 class="title">Select Clubs</h1>
	</ion-header-bar>
	<ion-content>
		<flexbox> 
			<div class="selectionbox" ng-repeat="club in clubs track by $index" ng-if="!club.removed"> <!-- Do not show clubs that are removed -->
				<infobox ng-click="navigateToClubModal(club.id)"><img src="thumbnails/info-icon.png"></img></infobox>
				<div ng-click="toggle(club.id); savePrefs('clubs', true);">	
					<img src="thumbnails/{{club.logo}}" style="width:100%" ng-class="{ 'checked-clubs-page': club.selected , 'unchecked-clubs-page': ! club.selected}"></img>
				</div>
			</div>
		</flexbox>
	</ion-content>
</ion-view>
