<ion-view>
	<ion-nav-title>Select Clubs</ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear" ng-click="savePrefs('clubs')">
            Save!
        </button>
      </ion-nav-buttons>
	<ion-content>
		<flexbox> 
			<div class="selectionbox" ng-repeat="club in clubs">
				<infobox ng-click="navigateToClub(club.id); closeModal()"><img src="thumbnails/info-icon.png"></img></infobox>
				<div ng-click="toggle(club.id)">	
					<img src="thumbnails/{{club.logo}}" style="width:100%" ng-class="{ 'checked-clubs-page': club.selected , 'unchecked-clubs-page': ! club.selected}"></img>
				</div>
			</div>
		</flexbox>
	</ion-content>
</ion-view>
