<ion-view view-title="Discount Program">

	<ion-content class="has-header" class="discount_page">
		<div>
			<img src="thumbnails/DiscountCard.png" style="width: 40%; margin-left: auto; margin-right: auto; display: block;"></img>
		</div>

		<div class="list">
			<div class="item discount_program_desc">
				The Lazaridis Students' Society is proud to introduce and present the LazSoc Discount Program presented in partnership with Quick Sandwiches. All students with the official Discount Program sticker attached to the back of their Laurier OneCard are eligible to receive discounts from the partners listed below. For more information please contact the LazSoc VP of Corporate Relations at <a href="mailto:vpcorporate@lazsoc.ca">vpcorporate@lazsoc.ca</a>.
			</div>

			<div class="item item-divider">
				Our Sponsors
			</div>
			<div class="list row">
				<div class="item col lazsoc_discount_card" ng-repeat="sponsor in sponsors track by $index" ng-if="$index < 2">
					<h2 class="lazsoc_discount_sponsor_text lazsoc_discount_header">{{sponsor.name}}</h2>
					<img class="full-image" src="http://placehold.it/300x150">
					<p class="lazsoc_discount_sponsor_text discount_desc">{{sponsor.discount}}</p>
				</div>
			</div>
			<div class="list row">
				<div class="item col lazsoc_discount_card" ng-repeat="sponsor in sponsors track by $index" ng-if="$index < 4 && $index > 1">
					<h3 class="lazsoc_discount_sponsor_text lazsoc_discount_header">{{sponsor.name}}</h3>
					<img class="full-image" src="http://placehold.it/300x150">
					<p class="lazsoc_discount_sponsor_text discount_desc">{{sponsor.discount}}</p>
				</div>
			</div>
			<div class="list row">
				<div class="item col lazsoc_discount_card" ng-repeat="sponsor in sponsors track by $index" ng-if="$index < 6 && $index > 3">
					<h3 class="lazsoc_discount_sponsor_text lazsoc_discount_header">{{sponsor.name}}</h3>					
					<img class="full-image" src="http://placehold.it/300x150">
					<p class="lazsoc_discount_sponsor_text discount_desc">{{sponsor.discount}}</p>
				</div>
			</div>
			<div class="list row">
				<div class="item col lazsoc_discount_card" ng-repeat="sponsor in sponsors track by $index" ng-if="$index < 8 && $index > 5">
					<h3 class="lazsoc_discount_sponsor_text lazsoc_discount_header">{{sponsor.name}}</h3>					
					<img class="full-image" src="http://placehold.it/300x150">
					<p class="lazsoc_discount_sponsor_text discount_desc">{{sponsor.discount}}</p>
				</div>
			</div>
			<div class="list row">
				<div class="item col lazsoc_discount_card" ng-repeat="sponsor in sponsors track by $index" ng-if="$index < 10 && $index > 7">
					<h3 class="lazsoc_discount_sponsor_text lazsoc_discount_header">{{sponsor.name}}</h3>					
					<img class="full-image" src="http://placehold.it/300x150">
					<p class="lazsoc_discount_sponsor_text discount_desc">{{sponsor.discount}}</p>
				</div>
			</div>
			<div class="item discount_program_desc">
				Stay tuned as we are always adding more partners!
			</div>

		</div>
	</ion-content>
</ion-view>
