<ion-view view-title="Discount Program">

	<ion-content class="has-header" class="discount_page">
		<div>
			<img class="lazsoc_banner" src="banners/DiscountProgramBanner.png"></img>
		</div>
		<div class="list">
			<div class="item discount_program_desc">
				The Lazaridis Students' Society is proud to introduce and present the LazSoc Discount Program presented in partnership with Quick Sandwiches. All students with the official Discount Program sticker attached to the back of their Laurier OneCard are eligible to receive discounts from the partners listed below. For more information please contact the LazSoc VP of Corporate Relations at vpcorporate@lazsoc.ca or <a onclick="window.open('https://lazsoc.ca/contact-us/', '_system');" style="color: #0000EE; text-decoration: underline;">click here</a>.
			</div>

			<div class="item item-divider">
				Our Sponsors
			</div>
			<div ng-repeat="rows in sponsorsRows">
				<!-- 
					Output all the logos first in a row, that way if the discount description is long and needs to be 
					put onto multiple lines the logos are all still lined up
				 -->
				<div class="row">
					<div class="item col lazsoc_discount_card" ng-repeat="sponsor in rows">
						<img class="full-image" ng-src="{{sponsor.logo}}">
					</div>
				</div>
				<div class="row">
					<div class="item col lazsoc_discount_card" ng-repeat="sponsor in rows">
						<p class="lazsoc_discount_sponsor_text discount_desc">{{sponsor.discount}}</p>
					</div>
				</div>
			</div>
			<div class="item discount_program_desc">
				Stay tuned as we are always adding more partners!
			</div>

		</div>
	</ion-content>
</ion-view>
