<ion-view can-swipe-back="false">
	<ion-header-bar class="bar-royal">
		<div class="buttons">
			<button class="button button-clear" ng-click="preferencesGoBack()"><i class="icon ion-ios-arrow-back"></i> Back</button>
		</div>
	</ion-header-bar>
	<ion-content>
		<img class="lazsoc_banner" ng-src="{{clubs[currEvent.clubRef].banner}}" ng-if="clubs[currEvent.clubRef].banner != ''">
		<img class="lazsoc_banner" src="banners/header-laurier.jpg" ng-if="clubs[currEvent.clubRef].banner == ''">
		
		<div class="list">
			<div class="item item-divider lazsoc_event_page_title"><b><center><font size="+1">{{currEvent.title}}</font></center></b></div>

			<div class="button-bar"> 
				<button class="button" ng-click="addToCalendar()" style="color:black;">Add to <i class="icon ion-android-calendar"></i></button>
				<button class="button" ng-click="openFbEvent('fb')" style="background-color:#3b5998"><i class="icon ion-social-facebook" style="color:white"></i></button>
			</div>

			<a class="item lazsoc_event_date lazsoc_event_page" style="color:black;">
				<i class="icon ion-ios-clock-outline"></i> {{currEvent.stringifiedCurrEventDate}}
			</a>

			<a class="item lazsoc_event_location lazsoc_event_page" style="color:black;">
				<i class="icon ion-android-pin"></i> {{currEvent.location}}
			</a>

			<div class="item item-divider">
				Details
			</div>

			<a class="item lazsoc_event_date lazsoc_event_page" href="#">
				{{currEvent.desc}}
			</a>

		</div>
	</ion-content>
</ion-view>
		<!--<a ng-show="{{currEvent.video}}"> 
			<div class="row"><div class="col">
				<div class="video-container">
					<iframe src="http://www.youtube.com/embed/Bis4tRacqXg?rel=0" frameborder="0" allowfullscreen></iframe>
				</div>
			</div></div>
		</a>-->
