<ion-view>
	<ion-nav-title>{{currEvent.title}}</ion-nav-title>
	<ion-content>
		<div>
			<img ng-src="{{currEvent.club.banner}}" style="width:100%; padding:0px" ng-hide="currEvent.club.banner == ''">
			<img src="banners/header-laurier.jpg" style="width:100%; padding:0px" ng-show="currEvent.club.banner == ''">
		</div>
		<div class="item item-divider"><b><center><font size="+1">{{currEvent.title}}</font></center></b></div>
		<div class="button-bar"> 
			<div></div>
      		<button class="button" ng-click="addToCalendar()"><i class="icon ion-calendar"> Add to Calendar</i>
      		<button class="button" ng-click="viewPage()" onclick="window.open('fb://facebook.com/inbox', '_system', 'location=no');"><i class="icon ion-social-facebook"> Facebook page</i>
    	</div>
		<div class="item">
			<i class="icon ion-clock"> When: {{currEvent.timePublished}}</i>
		</div>
		<div class="item">
			<i class="icon ion-android-pin"> Where: {{currEvent.location}}</i>
		</div>
		<div class="item item-text-wrap">
			{{currEvent.desc}}
            <br/><br/>
		</div>  
	</ion-content>
</ion-view>