<ion-view>
	<ion-nav-title></ion-nav-title>
	<ion-content>
		<div>
			<img ng-src="{{clubs[currEvent.clubRef].banner}}" style="width:100%; padding:0px" ng-hide="clubs[currEvent.clubRef].banner == ''">
			<img src="banners/header-laurier.jpg" style="width:100%; padding:0px" ng-show="clubs[currEvent.clubRef].banner == ''">
		</div>
		<div class="item item-divider"><b><center><font size="+1">{{currEvent.title}}</font></center></b></div>
		<div class="button-bar"> 
			<div></div>
      		<button class="button" ng-click="addToCalendar()"><i class="icon ion-calendar"> Add to Calendar</i></button>
      		<button class="button" ng-click="openSocialLink('fb')"><i class="icon ion-social-facebook"></i></button>
    	</div>
		<div class="item">
			<i class="icon ion-clock"> When: {{currEvent.startDate}}</i>
		</div>
		<div class="item">
			<i class="icon ion-clock"> End: {{currEvent.endDate}}</i>
		</div>		
		<div class="item">
			<i class="icon ion-android-pin"> Where: {{currEvent.location}}</i>
		</div>
		<div class="item item-text-wrap">
			{{currEvent.desc}}
            {{debug}}
            <br/><br/>
		</div>  
	</ion-content>
</ion-view>