<ion-view view-title="Feedback">

	<ion-content class="has-header" class="discount_page">
		<div>
			<img src="thumbnails/LazSoc.png" style="width: 40%; margin-left: auto; margin-right: auto; display: block;"></img>
		</div>

		<div class="list">
			<div class="item discount_program_desc">			
				The Lazaridis Students' Society strives to provide students the best experience possible. Send us any comments you may have regarding our application at app@lazsoc.ca or <a onclick="window.open('https://lazsoc.ca/contact-us/', '_system');" style="color: #0000EE; text-decoration: underline;">click here</a>. We welcome bug reports, feature ideas, general comments and more. While we do read all feedback very carefully please note it is not always possible to respond to all submitted comments. We thank you in advance for helping us to provide a better experience.
			</div>
		</div>

	</ion-content>
</ion-view>
