<ion-modal-view>
	<ion-view>
		<ion-header-bar class="bar-royal"><h1 class="title">Sign Up</h1>
		</ion-header-bar>
		<ion-content>
			<form ng-submit="closeLogin()">
				<label class="item item-input item-floating-label">
					<span class="input-label">First Name (required)</span>
					<input type="text" placeholder="First Name (required)" ng-model="loginData.firstName">
				</label> 
				<label class="item item-input item-floating-label">
					<span class="input-label">Last Name (required)</span>
					<input type="text" placeholder="Last Name (required)" ng-model="loginData.lastName">
				</label>
				<label class="item item-input item-floating-label">
	                <span class="input-label">MyLaurier Email (required)</span>
					<input type="text" placeholder="MyLaurier Email (required)" ng-model="loginData.laurierID">
				</label>
				<button class="button button-block button-balanced" type="submit" >Submit</button>
			</form>
		</ion-content>
	</ion-view>
</ion-modal-view>
