<ion-view hide-nav-bar="true">
  <ion-content>
  	<img src="banners/sbe_logo.png" style="position:absolute; left:12%; top:50px; width:75%" ></img>
	<div class="login">
		<table>
			<tr>
				<td><i class="icon ion-android-person placeholder-icon" style="color: white;"></i></td>
				<td><input type="text" placeholder="Laurier ID" name="user" class="whitePlaceholder" required></input></td>
			</tr>
			<tr>
				<td><i class="icon ion-ios-locked placeholder-icon" style="color: white;"></i></td>
				<td><input type="password" placeholder="Password" name="password" class="whitePlaceholder" required></td>
			</tr>

			<tr>
				<td colspan="2"><input class="login-page-button" type="button" value="Login"></td>
			</td>
		</table>
	</div>
  </ion-content>
</ion-view>