<div class="modal">
	<ion-view>
		<ion-header-bar class="bar-royal"><h1 class="title"><b class="goldfont">Launch Pad</b></h1>
			<button class="button button-icon" ng-click="closeLogin()">Close</button>
		</ion-header-bar>
		<ion-content>
			<label class="item item-input">
				<span class="input-label item-stacked-label">First Name</span>
				<input type="text" placeholder="John">
				<input type="text"> 
			</label> 
			<label class="item item-input">
				<span class="input-label item-stacked-label">Last Name</span>
				<input type="text" placeholder="Smith">
				<input type="text"> 
			</label>
			<label class="item item-input">
				<span class="input-label item-stacked-label">Laurier ID:</span>
				<input type="text" placeholder="Smit1234">
				<input type="text">
			</label>
			<button class="button button-bar" ng-click="closeLogin(); openModal()">Continue</button>

		</ion-content>
		
	</ion-view>
</div>
