<ion-view view-title="Newsfeed">
	<ion-nav-buttons side="right">
    	<button class="button button-icon ion-gear-a" ng-click="openModal()"></button>
  	</ion-nav-buttons>
	<ion-nav-buttons side="left"><button class="button button-icon" ng-click="openLogin()">Launch</button></ion-nav-buttons>
	<ion-content>
		<ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
		<ion-list>
			<ion-item ng-repeat="event in events" ng-click="loadEvent({{event.id}})" class="itembox item-thumbnail-left">
				<img ng-src="{{event.thumbnail}}" class="imgbox">
				<titleFont>{{event.title}}</titleFont></br>
				<subheaderFont>{{event.subheader}}</subheaderFont>
			</ion-item>
		</ion-list>
		<button class="button button-positive" ng-click="navigateToClub()">Navigate to:</button>
	</ion-content>	
</ion-view>