<ion-view view-title="Newsfeed" cache-view="false">
	<div class="tabs-striped tabs-bottom tabs-background-royal">
		<div class="tabs">
			<a class="bar-royal tab-item lazsoc_tab_bot" ng-class="{ active: filterBy == 'custom' }" ng-click="setNewsfeedType('custom')">
				My Interests
			</a>
			<a class="bar-royal tab-item lazsoc_tab_bot" ng-class="{ active: filterBy == 'all' }" ng-click="setNewsfeedType('all')">
				All Events
			</a>
		</div>
	</div>

	<div class="tabs-striped tabs-top tabs-background-royal" style="margin: 0 auto;">
		<div class="tabs row lazsoc_tabs">
			<span style="display: inline-flex;">
				<a class="lazsoc_tab" style="" ng-class="{ active: filterByTime == 'past' }" ng-click="setNewsfeedTimeperiod('past')">
					Past
				</a>
				<a class="lazsoc_tab" ng-class="{ active: filterByTime == 'thisweek' }" ng-click="setNewsfeedTimeperiod('thisweek')">
					This Week
				</a>
				<a class="lazsoc_tab" ng-class="{ active: filterByTime == 'nextweek' }" ng-click="setNewsfeedTimeperiod('nextweek')">
					Next Week
				</a>
				<a class="lazsoc_tab" ng-class="{ active: filterByTime == 'upcoming' }" ng-click="setNewsfeedTimeperiod('upcoming')">
					Upcoming
				</a>
			</span>		
		</div>
	</div>

	<ion-content class="has-header has-subheader has-footer">
		<!-- <ion-content class="has-header has-subheader has-footer" on-swipe-right="rightNewsfeedSwipe()" on-swipe-left="leftNewsfeedSwipe()">-->
		<ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher> 
		<ion-list>
			<ion-item ng-repeat="event in filteredFeed" ng-click="loadEvent({{event.id}})" class="itembox item-thumbnail-left lazsoc_newsfeed" >
				<img ng-src="{{event.thumbnail}}" class="imgbox lazsoc_event_img">
				<titleFont>{{event.title}}</titleFont></br>
				<subheaderFont>{{event.subheader}}<br ng-if="event.subheader"/>{{event.startDate}}</subheaderFont><br/>
				<subheaderFont ng-if="filterBy == 'custom'">Based on your interest in: <b>{{event.notes}}</b></subheaderFont>
			</ion-item>
		</ion-list>

		<div class="row" ng-if="filteredFeed.length < 1">
			<div class="col">
				<div class="text-center">
					<h5 style="text-align: center; color: #9A9B9C;">Looks like there's nothing here <i class="icon ion-sad-outline"></i></h5>
					<h5 style="text-align: center; color: #9A9B9C;">Check back again soon, or <a ng-click="goToPrefPage()" style="color: #0645AD;">click here</a> to edit your preferences!</h5>
				</div>
			</div>
		</div>
	</ion-content>	
</ion-view>
		<!--<div class="list">
			<a class="item item-thumbnail-left lazsoc_preference_container" ng-repeat="event in filteredFeed" ng-click="loadEvent({{event.id}})">
				<img src="{{event.thumbnail}}">
				<span class="lazsoc_preference_text">
					<h2>{{event.title}}</h2>
					<subheaderFont>{{event.subheader}}<br/>{{event.startDate}}</subheaderFont>
					<subheaderFont ng-if="filterBy == 'custom'">Based on your interest in: <b>{{event.notes}}</b></subheaderFont>
				</span>
				
			</a>
		</div>-->
