<ion-view view-title="Newsfeed">
    <div class="tabs-striped tabs-bottom tabs-background-royal">
    <div class="tabs">
      <a class="bar-royal tab-item" style="color:white" ng-class="{ active: filterBy == 'custom' }" ng-click="setTab('custom')">
       My Interests
      </a>
      <a class="bar-royal tab-item" style="color:white" ng-class="{ active: filterBy == 'all' }" ng-click="setTab('all')">
        All Events
      </a>
    </div>
  </div>
	<ion-content>
		<ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher> 
		<ion-list ng-show="filterBy =='custom'">
			<ion-item ng-repeat="event in customFeed" ng-click="loadEvent({{event.id}})" class="itembox item-thumbnail-left">
				<img ng-src="{{event.thumbnail}}" class="imgbox">
				<titleFont>{{event.title}}</titleFont></br>
				<subheaderFont>{{event.subheader}}<br/>{{event.startDate}}</subheaderFont><br/>
				<subheaderFont ng-show="event.notes != ''">Based on your interest in: <b>{{event.notes}}</b></subheaderFont>
			</ion-item>
		</ion-list>

        <ion-list ng-show="filterBy =='all'">
			<ion-item ng-repeat="event in events" ng-click="loadEvent({{event.id}})" class="itembox item-thumbnail-left">
				<img ng-src="{{event.thumbnail}}" class="imgbox">
				<titleFont>{{event.title}}</titleFont></br>
				<subheaderFont>{{event.subheader}}<br/>{{event.startDate}}</subheaderFont><br/>
			</ion-item>
		</ion-list>
	</ion-content>	
</ion-view>