<ion-modal-view>
	<ion-view>
		<ion-header-bar class="bar-royal"><h1 class="title">Preference Type</h1>
		</ion-header-bar>
		<ion-content>
			<div class="list">
				<a class="item item-icon-left item-icon-right" ng-click="openPreferenceSelector('clubs')">
					<i class="icon ion-university"></i>
					Clubs
					<i class="icon ion-chevron-right"></i>
				</a>
				<a class="item item-icon-left item-icon-right" ng-click="openPreferenceSelector('interests')">
					<i class="icon ion-lightbulb"></i>
					Interests
					<i class="icon ion-chevron-right"></i>
				</a>
			</div>
		</ion-content>
	</ion-view>
</ion-modal-view>
