<div class="modal" style="background-color:#E6E6FA">
	<ion-view>
		<ion-header-bar class="bar-balanced"><h1 class="title">Settings</h1>
			<div class="buttons"><button class="button button-icon ion-android-checkbox-outline" ng-click="closeModal()"></button></div>
		</ion-header-bar>
		<ion-content>
			<flexbox>
				<div class="selectionbox" ng-repeat="club in clubs">
					<div ng-click="toggle(club.id)">
						<img src="thumbnails/{{club.logo}}" style="width:100%" ng-class="{ 'checked-clubs-page': club.selected , 'unchecked-clubs-page': ! club.selected}"></img>
					</div>
				</div>
			</flexbox>
		</ion-content>
	</ion-view>
</div>