<ion-view cache-view="false" can-swipe-back="false">
    <ion-nav-title>Preferences</ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button" ng-click="openPreferenceModal()" style="border: none;">
            <i class="icon ion-gear-a" style=""></i> Edit
        </button>
    </ion-nav-buttons>

    <ion-content>
        <div class="list">
            <div class="item item-divider">
                Clubs
            </div>
            <a class="item item-thumbnail-left lazsoc_preference_container" ng-click="navigateToClubPage(club.id)" ng-repeat="club in clubs track by $index" ng-if="!club.removed && club.selected">
                <img src="thumbnails/{{club.logo}}">
                <h2 class="lazsoc_preference_text">{{club.name}}</h2>
                <label class="toggle toggle-relaxed lazsoc_preference_icon">
                    <i class="ion-heart lazsoc_heart" style="font-size: 30px;"></i>
                </label>
                <!--<p>Nine Inch Nails</p>-->
            </a>
            <div class="row" ng-if="clubSubCount < 1">
                <div class="col">
                    <div class="text-center">
                        <h5 style="text-align: center; color: #9A9B9C;">Looks like you're not subscribed to any clubs :(</h5>
                        <h5 style="text-align: center; color: #9A9B9C;"><a ng-click="openPreferenceModal()" style="color: #0645AD;">Click here</a> to subscribe to some clubs!</h5>
                    </div>
                </div>
            </div>

            <div class="item item-divider">
                Interests
            </div>
            <a class="item lazsoc_interests lazsoc_preference_container" ng-repeat="pref in prefOptions" ng-if="pref.selected">
                <span class="lazsoc_preference_text">{{pref.name}}</span>
                <label class="toggle toggle-relaxed lazsoc_preference_icon">
                    <!--<input type="checkbox" ng-checked="pref.selected" ng-model="pref.selected">-->
                    <i class="ion-heart lazsoc_heart" style="font-size: 30px;"></i>
                </label>
            </a>
            <div class="row" ng-if="prefCount < 1">
                <div class="col">
                    <div class="text-center">
                        <h5 style="text-align: center; color: #9A9B9C;">Looks like you're not subscribed to any interests :(</h5>
                        <h5 style="text-align: center; color: #9A9B9C;"><a ng-click="openPreferenceModal()" style="color: #0645AD;">Click here</a> to subscribe to some interests!</h5>
                    </div>
                </div>
            </div>

        </div>
    </ion-content>
</ion-view>
